In [18]:
import pandas as pd

df : pd.DataFrame = pd.read_excel('./data/Labor Force Statistics from the Current Population Survey.xlsx', skiprows=range(0,11), index_col=0)
df

d:\practical-time-series-analysis\venv\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

      Jan  Feb  Mar   Apr   May   Jun   Jul  Aug  Sep  Oct  Nov  Dec
Year
2013  8.0  7.7  7.5   7.6   7.5   7.5   7.3  7.2  7.2  7.2  6.9  6.7
2014  6.6  6.7  6.7   6.2   6.3   6.1   6.2  6.1  5.9  5.7  5.8  5.6
2015  5.7  5.5  5.4   5.4   5.6   5.3   5.2  5.1  5.0  5.0  5.1  5.0
2016  4.8  4.9  5.0   5.1   4.8   4.9   4.8  4.9  5.0  4.9  4.7  4.7
2017  4.7  4.6  4.4   4.4   4.4   4.3   4.3  4.4  4.3  4.2  4.2  4.1
2018  4.0  4.1  4.0   4.0   3.8   4.0   3.8  3.8  3.7  3.8  3.8  3.9
2019  4.0  3.8  3.8   3.6   3.7   3.6   3.7  3.7  3.5  3.6  3.6  3.6
2020  3.5  3.5  4.4  14.7  13.2  11.0  10.2  8.4  7.9  6.9  6.7  6.7
2021  6.3  6.2  6.1   6.1   5.8   5.9   5.4  5.2  4.8  4.5  4.2  3.9
2022  4.0  3.8  3.6   3.6   3.6   3.6   3.5  3.7  3.5  3.7  3.6  3.5
2023  3.4  3.6  3.5   3.4   3.7   3.6   3.5  3.8  3.8  3.9  3.7  NaN

In [19]:
# 임의로 누락된 데이터로 구성된 데이터셋을 생성합니다.
rand_df : pd.DataFrame = df.sample(n=5)

      Jan  Feb  Mar   Apr   May   Jun   Jul  Aug  Sep  Oct  Nov  Dec
Year
2015  5.7  5.5  5.4   5.4   5.6   5.3   5.2  5.1  5.0  5.0  5.1  5.0
2020  3.5  3.5  4.4  14.7  13.2  11.0  10.2  8.4  7.9  6.9  6.7  6.7
2018  4.0  4.1  4.0   4.0   3.8   4.0   3.8  3.8  3.7  3.8  3.8  3.9
2019  4.0  3.8  3.8   3.6   3.7   3.6   3.7  3.7  3.5  3.6  3.6  3.6
2021  6.3  6.2  6.1   6.1   5.8   5.9   5.4  5.2  4.8  4.5  4.2  3.9

In [24]:
rand_df: pd.DataFrame = rand_df.reindex(df.index)
rand_df

      Jan  Feb  Mar   Apr   May   Jun   Jul  Aug  Sep  Oct  Nov  Dec
Year
2013  NaN  NaN  NaN   NaN   NaN   NaN   NaN  NaN  NaN  NaN  NaN  NaN
2014  NaN  NaN  NaN   NaN   NaN   NaN   NaN  NaN  NaN  NaN  NaN  NaN
2015  5.7  5.5  5.4   5.4   5.6   5.3   5.2  5.1  5.0  5.0  5.1  5.0
2016  NaN  NaN  NaN   NaN   NaN   NaN   NaN  NaN  NaN  NaN  NaN  NaN
2017  NaN  NaN  NaN   NaN   NaN   NaN   NaN  NaN  NaN  NaN  NaN  NaN
2018  4.0  4.1  4.0   4.0   3.8   4.0   3.8  3.8  3.7  3.8  3.8  3.9
2019  4.0  3.8  3.8   3.6   3.7   3.6   3.7  3.7  3.5  3.6  3.6  3.6
2020  3.5  3.5  4.4  14.7  13.2  11.0  10.2  8.4  7.9  6.9  6.7  6.7
2021  6.3  6.2  6.1   6.1   5.8   5.9   5.4  5.2  4.8  4.5  4.2  3.9
2022  NaN  NaN  NaN   NaN   NaN   NaN   NaN  NaN  NaN  NaN  NaN  NaN
2023  NaN  NaN  NaN   NaN   NaN   NaN   NaN  NaN  NaN  NaN  NaN  NaN

In [29]:
# 포워드 필(forward fill)
rand_df_ffill : pd.DataFrame = rand_df.ffill()
rand_df_ffill

      Jan  Feb  Mar   Apr   May   Jun   Jul  Aug  Sep  Oct  Nov  Dec
Year
2013  NaN  NaN  NaN   NaN   NaN   NaN   NaN  NaN  NaN  NaN  NaN  NaN
2014  NaN  NaN  NaN   NaN   NaN   NaN   NaN  NaN  NaN  NaN  NaN  NaN
2015  5.7  5.5  5.4   5.4   5.6   5.3   5.2  5.1  5.0  5.0  5.1  5.0
2016  5.7  5.5  5.4   5.4   5.6   5.3   5.2  5.1  5.0  5.0  5.1  5.0
2017  5.7  5.5  5.4   5.4   5.6   5.3   5.2  5.1  5.0  5.0  5.1  5.0
2018  4.0  4.1  4.0   4.0   3.8   4.0   3.8  3.8  3.7  3.8  3.8  3.9
2019  4.0  3.8  3.8   3.6   3.7   3.6   3.7  3.7  3.5  3.6  3.6  3.6
2020  3.5  3.5  4.4  14.7  13.2  11.0  10.2  8.4  7.9  6.9  6.7  6.7
2021  6.3  6.2  6.1   6.1   5.8   5.9   5.4  5.2  4.8  4.5  4.2  3.9
2022  6.3  6.2  6.1   6.1   5.8   5.9   5.4  5.2  4.8  4.5  4.2  3.9
2023  6.3  6.2  6.1   6.1   5.8   5.9   5.4  5.2  4.8  4.5  4.2  3.9

In [31]:
# 이동평균 moving average, 롤링 평균 또는 중앙값
rand_df_rolling : pd.DataFrame = rand_df.rolling(window=len(rand_df), min_periods=1).mean()
rand_df_rolling

,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
Year,,,,,,,,,,,,
2013,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015,5.700000,5.500000,5.40,5.400000,5.600000,5.300,5.200000,5.10,5.000000,5.000000,5.100000,5.000000
2016,5.700000,5.500000,5.40,5.400000,5.600000,5.300,5.200000,5.10,5.000000,5.000000,5.100000,5.000000
2017,5.700000,5.500000,5.40,5.400000,5.600000,5.300,5.200000,5.10,5.000000,5.000000,5.100000,5.000000
2018,4.850000,4.800000,4.70,4.700000,4.700000,4.650,4.500000,4.45,4.350000,4.400000,4.450000,4.450000
2019,4.566667,4.466667,4.40,4.333333,4.366667,4.300,4.233333,4.20,4.066667,4.133333,4.166667,4.166667
2020,4.300000,4.225000,4.40,6.925000,6.575000,5.975,5.725000,5.25,5.025000,4.825000,4.800000,4.800000
2021,4.700000,4.620000,4.74,6.760000,6.420000,5.960,5.660000,5.24,4.980000,4.760000,4.680000,4.620000
2022,4.700000,4.620000,4.74,6.760000,6.420000,5.960,5.660000,5.24,4.980000,4.760000,4.680000,4.620000
2023,4.700000,4.620000,4.74,6.760000,6.420000,5.960,5.660000,5.24,4.980000,4.760000,4.680000,4.620000